<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="color-scheme" content="dark light">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <!-- After the Bootstrap CSS link, to ensure that my styles won't be overwritten by the Bootstrap styles -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
            </div>
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button id="logout-button" type="submit" class="btn btn-secondary float-end">Logout</button>
                </form>
            </div>

            <div id="contentDiv" style="clear: right;">
                <!-- tab nav -->
                <nav style="clear: right;" class="mb-3">
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" href="#nav-files" id="nav-files-tab" data-bs-toggle="pill" data-bs-target="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" href="#nav-notes" id="nav-notes-tab" data-bs-toggle="pill" data-bs-target="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" href="#nav-credentials" id="nav-credentials-tab" data-bs-toggle="pill" data-bs-target="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!-- Files View Tab -->
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <!-- Error/Success message -->
                        <div th:if="${fileSuccess}" th:text="${fileSuccess}" class="alert alert-dark"></div>
                        <div th:if="${fileError}" th:text="${fileError}" class="alert alert-danger"></div>

                        <form action="#" th:action="@{'/file/upload'}" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload" class="form-label">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file : ${files}">
                                    <td>
                                        <a
                                                target="_blank"
                                                class="btn btn-success"
                                                th:href="@{/file/download/{fileName} (
                                                fileName = ${file.fileName})
                                                }"
                                        >View</a>
                                        <a
                                                class="btn btn-danger"
                                                th:href="@{/file/delete/{fileId} (
                                                fileId = ${file.fileId})
                                                }"
                                        >Delete</a>
                                    </td>
                                    <th scope="row" th:text="${file.fileName}">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Notes View Tab -->
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <!-- Error/Success message -->
                        <div id="note-success-msg" th:if="${noteSuccess}" th:text="${noteSuccess}" class="alert alert-dark"></div>
                        <div th:if="${noteError}" th:text="${noteError}" class="alert alert-danger"></div>

                        <button
                                id="add-new-note"
                                style="margin: 0.25em;"
                                type="button"
                                class="btn btn-info float-end"
                                onclick="showNoteModal()"
                        >
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="note : ${notes}">
                                        <td>
                                            <button
                                                    id="edit-note-btn"
                                                    type="button"
                                                    class="btn btn-success"
                                                    th:data-noteid="${note.noteId}"
                                                    th:data-notetitle="${note.noteTitle}"
                                                    th:data-notedescription="${note.noteDescription}"
                                                    th:onclick="showNoteModal(this.dataset.noteid, this.dataset.notetitle, this.dataset.notedescription)"
                                            >Edit</button>
                                            <a
                                                    id="delete-note-btn"
                                                    class="btn btn-danger"
                                                    th:href="@{/note/delete/{noteId} (
                                                    noteId = ${note.noteId})
                                                }"
                                            >Delete</a>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}"></th>
                                        <td th:text="${note.noteDescription}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--  Note Creation/Updating Modal -->
                        <div class="modal fade"
                             id="noteModal"
                             tabindex="-1"
                             aria-labelledby="noteModalLabel"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Use this form modal to either create a new note or update an existing one -->
                                        <form class="form-submit" id="note-form" th:action="@{/note}" th:object="${Note}" method="POST">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle"  class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control"  name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button id="save-note-btn"
                                                type="button"
                                                class="btn btn-primary"
                                                onclick="$('#noteSubmit').click();"
                                        >Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Credential View Tab -->
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <!-- Error/Success message -->
                        <div id="credential-success-msg" th:if="${credentialSuccess}" th:text="${credentialSuccess}" class="alert alert-dark"></div>
                        <div th:if="${credentialError}" th:text="${credentialError}" class="alert alert-danger"></div>

                        <button id="add-new-credential"
                                style="margin: 0.25em;"
                                type="button"
                                class="btn btn-info float-end"
                                onclick="showCredentialModal()"
                        >
<!--                                data-bs-toggle="modal"-->
<!--                                data-bs-target="#credentialModal"-->
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="credential: ${credentials}">
                                        <td>
                                            <button
                                                    id="credential-edit-btn"
                                                    type="button"
                                                    class="btn btn-success"
                                                    th:data-credentialid="${credential.credentialId}"
                                                    th:data-credentialurl="${credential.url}"
                                                    th:data-credentialusername="${credential.username}"
                                                    th:data-credentialpassword="${encryptionService.decryptValue(credential.password, credential.key)}"
                                                    th:onclick="showCredentialModal(this.dataset.credentialid, this.dataset.credentialurl, this.dataset.credentialusername, this.dataset.credentialpassword)"
                                            >Edit</button>
                                            <a
                                                    id="delete-credential"
                                                    class="btn btn-danger"
                                                    th:href="@{/credential/delete/{credentialId} (
                                                        credentialId = ${credential.credentialId})
                                                    }"
                                            >Delete</a>
                                        </td>
                                        <th scope="row" th:text="${credential.url}">Example Credential URL</th>
                                        <td th:text="${credential.username}">Example Credential Username</td>
                                        <td id="encrypted-pswd" th:text="${credential.password}">Example Credential Password</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--  Credential Creation Modal -->
                        <div class="modal fade"
                             id="credentialModal"
                             tabindex="-1"
                             aria-labelledby="credentialModalLabel"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-submit" id="credential-form" th:action="@{/credential}" method="POST">
                                            <input type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit"
                                                    type="submit"
                                                    class="d-none"
                                            ></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        <button id="save-credential"
                                                type="button"
                                                class="btn btn-primary"
                                                onclick="$('#credentialSubmit').click();"
                                        >Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jquery includes ajax        -->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <!-- My own custom js -->
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </body>
</html>
