<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="color-scheme" content="dark light">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <!-- After the Bootstrap CSS link, to ensure that my styles won't be overwritten by the Bootstrap styles -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
        <title>Sign Up</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
        </div>

        <div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
            <div >
                <label>
                    <a th:href="@{/login}">Back to Login</a>
                </label>
            </div>

            <h1 class="display-5">Sign Up</h1>

            <form action="#" th:action="@{/signup}" method="POST">

                <div id="success-msg" th:if="${signupSuccess}" class="alert alert-dark">
                    You successfully signed up! Please continue to the <a id="login-link" th:href="@{/login}">login</a> page.
                </div>
                <div id="error-msg" th:if="${signupError}" th:text="${signupError}" class="alert alert-danger"></div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="buttonSignUp">Sign Up</button>
            </form>
        </div>

        <!-- jquery includes ajax        -->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <!-- My own custom js -->
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </body>
</html>
